.icon {
    margin: 5px;
    padding: 5px;
    /* border-radius: 5px; */
    color: rgb(155, 155, 155);
    font-size: 30px;
  }
  .footer-menu {
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-input {
    padding: 8px;
    border: none;
    outline: none;
  }
  .footer-container {
    background-color:#233247;
    color: white;
    padding: 50px;
  }
  .padding-middle{
      padding-left: 200px;
  }
  @media (max-width: 576px) {
    .padding-middle{
      padding-left: 0px;
  }
  .footer-container {
    padding: 0px;
  }
}